{% assign repo_url = include.repository.url | split: '/' %}
{% assign repo_name = repo_url | last %}
{% assign repo_owner = repo_url | slice: -2 | first %}

{% if site.data.repositories.github_users contains repo_owner %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

{% assign lang = site.active_lang | default: 'en-us' %}
{% assign github_locale = 'en' %}
{% case lang %}
  {% when 'fr-ca' %}
    {% assign github_locale = 'fr' %}
  {% else %}
    {% assign github_locale = 'en' %}
{% endcase %}

{% if site.data.repositories.repo_description_lines_max %}
  {% assign max_lines = site.data.repositories.repo_description_lines_max %}
{% else %}
  {% assign max_lines = 2 %}
{% endif %}

<div class="repo p-2 text-center">
  <a href="{{ include.repository.url }}">
    <img
      class="repo-img-light w-100"
      alt="{{ repo_name }}"
      src="https://github-readme-stats.vercel.app/api/pin/?username={{ repo_owner }}&repo={{ repo_name }}&theme={{ site.repo_theme_light }}&locale={{ github_locale }}&show_owner=FALSE&description_lines_count={{ max_lines }}"
    >
    <img
      class="repo-img-dark w-100"
      alt="{{ repo_name }}"
      src="https://github-readme-stats.vercel.app/api/pin/?username={{ repo_owner }}&repo={{ repo_name }}&theme={{ site.repo_theme_dark }}&locale={{ github_locale }}&show_owner=FALSE&description_lines_count={{ max_lines }}"
    >
  </a>
</div>
