<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign content = data[1] | sort: 'startDate' | reverse %}
  {% assign total_amount = 0 %}
  {% for content in content %}
    {% if content.amount %}
      {% assign total_amount = total_amount | plus: content.amount %}
    {% endif %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center date-column">
          {% if content.startDate %}
            {% assign startDate = content.startDate | split: '-' | slice: 0, 1 | join: '.' %}
            {% assign endDate = content.endDate | split: '-' | slice: 0, 1 | join: '.' %}
            {% if endDate != '' %}
              {% assign date = startDate | append: '—' | append: endDate %}
            {% else %}
              {% assign date = startDate %}
            {% endif %}
          {% else %}
            {% assign date = null %}
          {% endif %}
          <span class="badge font-weight-bold danger-color-dark text-lowercase align-middle" style="min-width: 100px">
            {{ date }}
          </span>
        </div>
        <div class="col-xs-8 cl-sm-8 col-md-8 mt-2 mt-md-0">
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            <i class="fa-solid fa-sack-dollar iconaward" style="padding-bottom: 2%"></i>
            <a href="{{ content.url }}">{{ content.title }}</a>
          </h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; margin-top: -0.5rem;">{{ content.awarder }}</h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-weight: 500">{{ content.summary }}</h6>
        </div>
        <div class="col-xs-2 cl-sm-2 col-md-2 mt-2 mt-md-0 text-right">
          {% if content.amount %}
            <h6 class="font-weight-bold amount-display" data-amount="{{ content.amount }}"></h6>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
  <li class="list-group-item">
    <div class="row">
      <div class="col-12 text-right">
        <h6 class="font-weight-bold total-amount" data-amount="{{ total_amount }}"></h6>
      </div>
    </div>
  </li>
</ul>

<input type="hidden" id="translation-total-award" value="{{ site.data[site.active_lang].strings.cv.total_award }}">
<input type="hidden" id="active-lang" value="{{ site.active_lang }}">

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Get the translation and language from the hidden inputs
    const translation = document.getElementById('translation-total-award').value;
    const activeLang = document.getElementById('active-lang').value;

    // Format individual amounts
    document.querySelectorAll('.amount-display').forEach(function (element) {
      const amount = Number(element.dataset.amount);
      const hasDecimals = amount % 1 !== 0;
      const formattedNumber = amount.toLocaleString(activeLang, {
        minimumFractionDigits: hasDecimals ? 2 : 0,
        maximumFractionDigits: 2,
    });
    element.textContent = activeLang === 'en-us' 
      ? '$' + formattedNumber
      : formattedNumber + ' $';
    });

    // Format total amount
    const totalElement = document.querySelector('.total-amount');
    const totalAmount = Number(totalElement.dataset.amount);
    const hasDecimals = totalAmount % 1 !== 0;
    totalElement.textContent = `${translation}${totalAmount
    .toLocaleString(activeLang, {
        style: 'currency',
        currency: 'CAD',
        currencyDisplay: 'symbol',
        minimumFractionDigits: hasDecimals ? 2 : 0,
        maximumFractionDigits: 2,
      })
      .replace('CA', '')}`;
  });
</script>